.header {
  display: flex;
  box-sizing: border-box;
  justify-content: end;

  width: 100%;
  border-bottom: 3px solid #f2f4f5;
}

.header__wrapper {
  display: flex;
  margin: 0 auto;

  align-items: center;
  justify-content: space-between;
  min-width: 1400px;
}

.logo {
  display: flex;
  align-items: center;
  width: 90px;
  height: 90px;
}

.header__left {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.header__right {
  display: flex;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  margin: 15px;
  padding: 15px 5px 15px 15px;
}

.item {
  font-size: 20px;
  margin: 15px;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.burger {
  display: none;
  cursor: pointer;
  margin-right: 15px;
}

.burger__icon {
  display: flex;
  width: 30px;
  height: 30px;
}

.item:hover {
  color: #6e6e6ecc;
}

.item:last-child {
  margin-right: 0;
}

.title {
  font-weight: 500;
  font-size: 28px;
  margin-left: 15px;
}

@media (max-width: 1415px) {
  .header__left {
    margin-left: 100px;
  }
}

@media (max-width: 1322px) {
  .header__left {
    margin-left: 300px;
  }
}

@media (max-width: 1024px) {
  .header__left {
    margin-left: 400px;
  }
}

@media (max-width: 768px) {
  .title {
    display: none;
  }

  .logo {
    margin-left: 250px;
  }

  .navigation {
    display: none;
  }

  .navigation.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #fff;

    width: 200px;
    left: 550px;
    top: 160px;
    border: 1px solid #000;
    border-radius: 5px;
  }

  .burger {
    display: block;
  }

  .item {
    margin: 10px 0;
  }
}

@media (max-width: 550px) {
  .logo {
    margin-left: 580px;
  }

  .navigation.open {
    left: 200px;
    top: 160px;
  }
}

@media (max-width: 375px) {
  .logo {
    margin-left: 620px;
  }

  .navigation.open {
    left: 150px;
    top: 160px;
  }
}
