.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 3px solid #f2f4f5;
  padding: 10px;
}

.header__wrapper {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
}

.logo {
  display: flex;
  align-items: center;
  width: 70px;
  height: 70px;
}

.header__left,
.header__right {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  margin: 0;
  padding: 15px;
}

.item {
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.burger {
  display: none;
  cursor: pointer;
  margin-right: 15px;
}

.burger__icon {
  display: flex;
  width: 30px;
  height: 30px;
}

.item:hover {
  color: #6e6e6ecc;
}

.item:last-child {
  margin-right: 0;
}

.title {
  font-weight: 500;
  font-size: 24px;
  margin-left: 15px;
}

@media (max-width: 768px) {
  .title {
    display: none;
  }

  .logo {
    margin-left: 0;
  }

  .navigation {
    display: none;
  }

  .navigation.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #fff;
    width: 200px;
    left: 85%;
    transform: translateX(-50%);
    top: 180px;
    border: 1px solid #000;
    border-radius: 5px;
  }

  .burger {
    display: block;
  }

  .item {
    margin: 10px 0;
  }
}

@media (max-width: 550px) {
  .logo {
    margin-left: 0;
  }

  .navigation.open {
    left: 73%;
    transform: translateX(-50%);
    top: 180px;
  }
}

@media (max-width: 375px) {
  .header__left {
    margin-left: 0;
  }

  .navigation.open {
    left: 70%;
    transform: translateX(-50%);
    top: 180px;
  }
}

@media (max-width: 320px) {
  .header__left {
    margin-left: 0;
  }
  .logo {
    margin-left: 0;
  }

  .navigation.open {
    left: 63%;
    transform: translateX(-50%);
    top: 180px;
  }
}

@media (max-width: 390px) {
  .logo {
    margin-left: 0;
  }
}
