* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Arsenal SC", sans-serif;
}

html,
body {
  height: 100%;
  background-color: #f0ebe5;
}

.container {
  display: flex;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1400px;
}

#map {
  background-color: #ccc;
}
