.banner {
  display: flex;
  box-sizing: border-box;
  justify-content: end;
  background-color: #000;
  color: #fff;

  width: 100%;
  min-height: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
}

.banner__wrapper {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;

  font-size: 24px;
  min-width: 1400px;
  min-height: 500px;
  height: 300px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.banner_right {
  display: flex;
}

.banner_left {
  align-items: center;
  width: 550px;
}

.banner__navigation {
  display: flex;
}

.banner__title {
  padding: 15px;
  display: flex;
  font-weight: 500;
  font-size: 72px;
}

.banner__description {
  margin: 50px 0 50px 0;

  font-size: 32px;
  opacity: 0.8;
}

.banner__hr {
  display: flex;
  width: 250px;
}

.banner__image {
  width: 700px;
  height: 700px;
}
