.map__wrapper {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  max-width: 1400px;

  margin-bottom: 50px;
}

.mapp {
  display: flex;
  width: 700px;
}

.yandex_map {
  display: flex;
  width: 1400px;
  height: 550px;
}

.map__title {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 46px;
  padding: 40px;
}

@media (max-width: 768px) {
  .map__wrapper {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .mapp {
    width: 100%;
  }

  .yandex_map {
    width: 100%;
    height: 300px;
  }

  .map__title {
    font-size: 28px;
    padding: 20px;
  }
}

@media (max-width: 390px) {
  .mapp {
    padding: 15px;
    width: 100px;
  }
}
