.contact {
  display: flex;
  box-sizing: border-box;
  justify-content: end;

  width: 100%;
  background-color: #40312e;
  min-height: 50px;
}

.contact__wrapper {
  display: flex;
  margin: 0 auto;

  align-items: center;
  justify-content: end;
  min-width: 1400px;
}

.contact__item {
  font-size: 18px;
  color: #fff;
  padding-left: 24px;
  padding-right: 15px;
}

@media (max-width: 768px) {
  .contact {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  .contact__wrapper {
    flex-direction: column;
    align-items: flex-start;
    min-width: auto;
  }

  .contact__item {
    display: flex;
    margin: 0 auto;
    padding: 8px 0;
  }
}
